## State Tax Revenue Across the U.S.

(Insert some informative text here)

In [1]:
list.files(pattern = "*.csv")

# From https://taxfoundation.org/sources-state-and-local-tax-revenues/
tax_type_percents <- read.csv("2010_state_tax_breakdown.csv", stringsAsFactors = FALSE, sep = "|")
head(tax_type_percents, 10)

# From https://www.taxadmin.org/2018-state-tax-revenue
# total_tax in millions-$'s, per_Capita in $-s
tax_revenues <- read.csv("2018_state_tax_revenues.csv", stringsAsFactors = FALSE, sep = "|")
head(tax_revenues, 10)

# Compare the length of the 2 data sets
nrow(tax_type_percents)
nrow(tax_revenues)

[1] "2010_state_tax_breakdown.csv" "2018_state_tax_revenues.csv"

   State       Property_Tax Sales_Tax Indiv_Income_Tax Corp_Income_Tax
1  Alabama     19.4         47.5      20.3              3.2
2  Alaska      21.4         10.9        NA             10.4
3  Arizona     37.3         44.4      12.3              2.1
4  Arkansas    18.3         50.5      22.0              4.1
5  California  31.2         30.1      26.4              5.3
6  Colorado    39.1         32.9      20.0              1.8
7  Connecticut 42.0         25.1      26.9              2.4
8  Delaware    18.6         13.2      25.3              4.1
9  Florida     42.9         46.9        NA              2.7
10 Georgia     35.2         36.5      23.3              2.3
   Other_Taxes
1   9.6
2  57.3
3   4.0
4   5.1
5   7.0
6   6.2
7   3.6
8  38.8
9   7.4
10  2.8

   State            Total_Taxes Per_Capita Rank Perc_of_pers_Income Rank.1
1  Alabama           11056       2262      42    5.6                34
2  Alaska             1642       2226      44    3.9                50
3  Arizona           16294       2272      41    5.5                38
4  Arkansas           9843       3266      17    8.0                 7
5  California       175017       4424       8    7.4                10
6  Colorado          14803       2599      36    4.8                44
7  Connecticut       19081       5341       4    7.4                 9
8  Delaware           4220       4363       9    8.8                 5
9  Dist_of_Columbia   7959      11331       1   14.3                 1
10 Florida           45961       2158      46    4.6                47

[1] 51

[1] 51

## Data Cleanup/Reshape

### To Do:
- [X] Check to see if the state names match between each data set.
- [X] Fix the non-matching state names once they're matched.
- [X] Drop the rank columns from revenues table
- [X] Join the 2 data sets together by state name
- [X] Convert total_tax from "millions" into tax_revenue in "dollars"
- [X] Create population column based on per_capita tax amount
- [ ] Convert tax percentages into actual dollar amounts
- [ ] Convert the "Perc_pers_Income" into dollar amounts

### Check state names for non-matches and update bad records

In [2]:
# Determine the difference between the names of each data set
df1_names <- tax_type_percents$State
df2_names <- tax_revenues$State

# setdiff(X, Y) returns the entries in X that don't match what's in Y
print(setdiff(df1_names, df2_names))
# 'West_Virginia' 'District_of_Columbia'

print(setdiff(df2_names, df1_names))
# "Dist_of_Columbia" "W_Virginia"      

# grep() returns the indices for the match pattern
grep("Columbia", df2_names)
grep("_Virginia", df2_names)

# which() returns the indices for the matching condition
which(df2_names == "Dist_of_Columbia")
which(df2_names == "W_Virginia")

# Replace the names in 'tax_revenues' that are abbreviated to match those in 'tax_type_percent'

# we can use index position from df2_names because it matches tax_revenues$State column
tax_revenues$State[grep("Columbia", df2_names)] <- "District_of_Columbia"
tax_revenues$State[grep("_Virginia", df2_names)] <- "West_Virginia"

[1] "West_Virginia"        "District_of_Columbia"
[1] "Dist_of_Columbia" "W_Virginia"

[1] 9

[1] 49

[1] 9

[1] 49

In [3]:
# So what's the difference between using 'grep' and 'which'?
# When used in this way, they're the same
grep(2, c(10,9,8,7,6,5,4,3,2,1))
which(c(10,9,8,7,6,5,4,3,2,1) == 2)

# However 'which' provides greater flexibility when checking for a condition
which(c(10,9,8,7,6,5,4,3,2,1) <= 3)

[1] 9

[1] 9

[1]  8  9 10

In [4]:
# Check that the columns match now
print(setdiff(tax_type_percents$State, tax_revenues$State))

character(0)

### Drop the rank columns from 'tax_revenues'

NOTE: When using 'select' this way, DO NOT put the names of the columns in quotes.  

This will not work! --> `tax_revenues <- subset(tax_revenues, select = -c("Rank", "Rank.1"))`

In [5]:
names(tax_revenues)
tax_revenues <- subset(tax_revenues, select = -c(Rank, Rank.1))
names(tax_revenues)

[1] "State"               "Total_Taxes"         "Per_Capita"
[4] "Rank"                "Perc_of_pers_Income" "Rank.1"

[1] "State"               "Total_Taxes"         "Per_Capita"
[4] "Perc_of_pers_Income"

### Join 2 data sets by column name

Use the `merge()` command.

In [6]:
tax_data <- merge(tax_revenues, tax_type_percents, by = "State")
head(tax_data)

  State      Total_Taxes Per_Capita Perc_of_pers_Income Property_Tax Sales_Tax
1 Alabama     11056      2262       5.6                 19.4         47.5
2 Alaska       1642      2226       3.9                 21.4         10.9
3 Arizona     16294      2272       5.5                 37.3         44.4
4 Arkansas     9843      3266       8.0                 18.3         50.5
5 California 175017      4424       7.4                 31.2         30.1
6 Colorado    14803      2599       4.8                 39.1         32.9
  Indiv_Income_Tax Corp_Income_Tax Other_Taxes
1 20.3              3.2             9.6
2   NA             10.4            57.3
3 12.3              2.1             4.0
4 22.0              4.1             5.1
5 26.4              5.3             7.0
6 20.0              1.8             6.2

### Convert 'Total_Taxes' from "millions" into 'tax_revenue' in "dollars"

In [7]:
tax_data$tax_revenue <- (tax_data$Total_Taxes * 1000000)
head(tax_data)

  State      Total_Taxes Per_Capita Perc_of_pers_Income Property_Tax Sales_Tax
1 Alabama     11056      2262       5.6                 19.4         47.5
2 Alaska       1642      2226       3.9                 21.4         10.9
3 Arizona     16294      2272       5.5                 37.3         44.4
4 Arkansas     9843      3266       8.0                 18.3         50.5
5 California 175017      4424       7.4                 31.2         30.1
6 Colorado    14803      2599       4.8                 39.1         32.9
  Indiv_Income_Tax Corp_Income_Tax Other_Taxes tax_revenue
1 20.3              3.2             9.6        1.10560e+10
2   NA             10.4            57.3        1.64200e+09
3 12.3              2.1             4.0        1.62940e+10
4 22.0              4.1             5.1        9.84300e+09
5 26.4              5.3             7.0        1.75017e+11
6 20.0              1.8             6.2        1.48030e+10

### Create 'population' column from 'Per_Capita' and 'tax_revenue' columns

In [10]:
tax_data$population <- as.integer(tax_data$tax_revenue / tax_data$Per_Capita)
tax_data$Total_Taxes <- NULL

# Rename column
tax_data$income_perc <- tax_data$Perc_of_pers_Income
tax_data$Perc_of_pers_Income <- NULL


head(tax_data)

  State      Per_Capita Property_Tax Sales_Tax Indiv_Income_Tax Corp_Income_Tax
1 Alabama    2262       19.4         47.5      20.3              3.2
2 Alaska     2226       21.4         10.9        NA             10.4
3 Arizona    2272       37.3         44.4      12.3              2.1
4 Arkansas   3266       18.3         50.5      22.0              4.1
5 California 4424       31.2         30.1      26.4              5.3
6 Colorado   2599       39.1         32.9      20.0              1.8
  Other_Taxes tax_revenue population income_perc
1  9.6        1.10560e+10  4887709   5.6
2 57.3        1.64200e+09   737646   3.9
3  4.0        1.62940e+10  7171654   5.5
4  5.1        9.84300e+09  3013778   8.0
5  7.0        1.75017e+11 39560804   7.4
6  6.2        1.48030e+10  5695652   4.8

In [13]:
## Reverse engineer per_capita_income
tax_data$per_cap_income <- tax_data$Per_Capita / (tax_data$income_perc / 100)
tax_data

   State                Per_Capita Property_Tax Sales_Tax Indiv_Income_Tax
1  Alabama               2262      19.4         47.5      20.3
2  Alaska                2226      21.4         10.9        NA
3  Arizona               2272      37.3         44.4      12.3
4  Arkansas              3266      18.3         50.5      22.0
5  California            4424      31.2         30.1      26.4
6  Colorado              2599      39.1         32.9      20.0
7  Connecticut           5341      42.0         25.1      26.9
8  Delaware              4363      18.6         13.2      25.3
9  District_of_Columbia 11331      37.0         27.0      22.0
10 Florida               2158      42.9         46.9        NA
11 Georgia               2244      35.2         36.5      23.3
12 Hawaii                5431      21.1         49.2      23.2
13 Idaho                 2764      30.2         35.3      24.6
14 Illinois              3128      43.6         31.7      15.9
15 Indiana               2899      32.8         37.0      23.3
16 Iowa                  3196      34.8         33.5      23.0
17 Kansas                3279      34.4         34.4      23.6
18 Kentucky              2699      21.5         38.0      30.4
19 Louisiana             2437      20.9         54.0      14.2
20 Maine                 3295      40.7         28.7      22.3
21 Maryland              3711      30.1         24.4      35.6
22 Massachusetts         4296      38.8         20.9      30.3
23 Michigan              3052      40.3         36.5      16.4
24 Minnesota             4758      30.7         33.5      26.5
25 Mississippi           2642      28.2         46.7      15.1
26 Missouri              2126      30.2         37.7      24.3
27 Montana               2772      39.8         16.8      22.2
28 Nebraska              2795      36.8         31.9      20.6
29 Nevada                3018      34.5         50.5        NA
30 New_Hampshire         2153      64.6         16.0       1.6
31 New_Jersey            3911      48.4         22.4      20.2
32 New_Mexico            2707      19.8         49.8      14.6
33 New_York              4531      32.4         25.3      31.2
34 North_Carolina        2683      26.2         36.0      27.9
35 North_Dakota          5533      19.8         31.0       8.7
36 Ohio                  2492      30.0         32.5      27.7
37 Oklahoma              2425      21.1         41.9      19.5
38 Oregon                3017      37.6         10.0      37.7
39 Pennsylvania          3179      30.4         31.2      25.4
40 Rhode_Island          3294      45.6         29.5      18.9
41 South_Carolina        2075      35.8         34.5      20.3
42 South_Dakota          2174      35.9         53.6        NA
43 Tennessee             2108      27.6         56.8       1.0
44 Texas                 2102      45.2         44.3        NA
45 Utah                  2543      27.6         37.5      25.3
46 Vermont               5244      45.9         29.2      16.6
47 Virginia              2758      36.1         26.5      27.8
48 Washington            3527      31.5         60.5        NA
49 West_Virginia         3000      21.3         37.5      23.5
50 Wisconsin             3224      39.5         28.9      23.8
51 Wyoming               3180      42.5         31.2        NA
   Corp_Income_Tax Other_Taxes tax_revenue population income_perc
1   3.2             9.6        1.10560e+10  4887709    5.6
2  10.4            57.3        1.64200e+09   737646    3.9
3   2.1             4.0        1.62940e+10  7171654    5.5
4   4.1             5.1        9.84300e+09  3013778    8.0
5   5.3             7.0        1.75017e+11 39560804    7.4
6   1.8             6.2        1.48030e+10  5695652    4.8
7   2.4             3.6        1.90810e+10  3572551    7.4
8   4.1            38.8        4.22000e+09   967224    8.8
9   6.5             7.5        7.95900e+09   702409   14.3
10  2.7             7.4        4.59610e+10 21297961    4.6
11  2.3             2.8        2.36030e+10 10518270    5.1
12  1.2             5.4        7.71400e+09  1420364   10.2
13  2.3             7.7        4.84800e+09  1753979    6.8
14  2.5             6.3        3.98570e+10 12742007    5.7
15  2.6             4.3        1.93980e+10  6691272    6.4
16  1.6             7.1        1.00880e+10  3156445    6.8
17  3.1             4.5        9.54700e+09  2911558    6.7
18  3.5             6.5        1.20600e+10  4468321    6.7
19  2.4             8.5        1.13580e+10  4660648    5.6
20  3.0             5.4        4.41100e+09  1338694    7.1
21  3.2             6.7        2.24270e+10  6043384    6.1
22  5.5             4.6        2.96550e+10  6902932    6.4
23  1.9             4.8        3.05080e+10  9996068    6.6
24  3.0             6.4        2.66970e+10  5610970    8.8
25  3.5             6.5        7.89100e+09  2986752    7.2
26  1.4             6.3        1.30280e+10  6127939    4.7
27  2.9            18.4        2.94500e+09  1062409    6.2
28  2.1             8.6        5.39300e+09  1929516    5.5
29   NA            15.0        9.15700e+09  3034128    6.6
30 10.0             7.8        2.92100e+09  1356711    3.6
31  4.0             5.0        3.48410e+10  8908463    6.0
32  1.9            13.8        5.67200e+09  2095308    6.8
33  6.7             4.4        8.85410e+10 19541160    6.9
34  4.0             5.9        2.78550e+10 10382035    6.1
35  2.5            38.0        4.20500e+09   759985   10.7
36  0.6             9.1        2.91300e+10 11689406    5.3
37  1.9            15.6        9.56400e+09  3943917    5.5
38  3.0            11.6        1.26450e+10  4191249    6.3
39  3.7             9.4        4.07100e+10 12805913    6.0
40  2.5             3.5        3.48300e+09  1057377    6.2
41  1.1             8.2        1.05500e+10  5084337    5.0
42  1.2             9.3        1.91800e+09   882244    4.5
43  4.9             9.8        1.42690e+10  6768975    4.7
44   NA            10.5        6.03290e+10 28700761    4.5
45  3.0             6.6        8.03900e+09  3161226    6.0
46  2.9             5.5        3.28400e+09   626239   10.1
47  2.5             7.1        2.34890e+10  8516678    5.0
48   NA             8.0        2.65750e+10  7534732    6.2
49  3.7            14.0        5.41800e+09  1806000    7.8
50  3.5             4.3        1.87430e+10  5813585    6.6
51   NA            26.2        1.83700e+09   577672    5.5
   per_cap_income
1  40392.86
2  57076.92
3  41309.09
4  40825.00
5  59783.78
6  54145.83
7  72175.68
8  49579.55
9  79237.76
10 46913.04
11 44000.00
12 53245.10
13 40647.06
14 54877.19
15 45296.88
16 47000.00
17 48940.30
18 40283.58
19 43517.86
20 46408.45
21 60836.07
22 67125.00
23 46242.42
24 54068.18
25 36694.44
26 45234.04
27 44709.68
28 50818.18
29 45727.27
30 59805.56
31 65183.33
32 39808.82
33 65666.67
34 43983.61
35 51710.28
36 47018.87
37 44090.91
38 47888.89
39 52983.33
40 53129.03
41 41500.00
42 48311.11
43 44851.06
44 46711.11
45 42383.33
46 51920.79
47 55160.00
48 56887.10
49 38461.54
50 48848.48
51 57818.18